.background-sand-color{
    background-color: #eae8d7;
 }
 .font-sand-color{
     color:#eae8d7;
 }
 .background-blue-color{
     background-color: #115c90;
 }
 .font-blue-color{
     color:#115c90;
 }